<!--ngFor Kullanımı-->
<table>
  <thead>
    <tr>
      <th>Index Number</th>
      <th>Ad</th>
      <th>Soyad</th>
      <th>BirthDate</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let calisan of employees; trackBy: trackByEmpCode; let i = index;">
      <td>{{i}}</td>
      <td>{{calisan.name | uppercase}}</td>
      <td>{{calisan.surname}}</td>
      <td>{{calisan.birthDate | date: 'dd/MM/y'}}</td>
      <td>{{calisan.sallary | currency: 'USD':true}}</td>
    </tr>
    <tr *ngIf="!employees || employees.length==0">
      <td colspan="5">No employees to display</td>
    </tr>
  </tbody>
</table>
<br>
<button (click)="getEmployees()">Refresh Employees</button>