/* You can add global styles to this file, and also import other style files */
table{
    color:#369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-collapse: collapse;
    width: 20%;
    margin: 0 auto;
}

td , th{
    border: 2px solid #555;
}

th{
    background-color: #6E6E6E;
}

.boldClass{
    font-weight: bold;
}

.italicClass{
    font-style: italic;
}

.colorClass{
    color:red;
}